@media screen and (min-width: 600px){

    .onboarding{
        display: flex;
        flex-direction: column;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
    }
    .onboarding form{
        width: 60%;
    }
}