#suggested{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    align-items: center;
    
    
}
#suggested button.suggested-child{
    border: none;
}
#suggested .suggested-child{
    max-width: 98%;
    min-width: 98%;
    height: auto;
    margin: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
    background: #f5f5f5;
    box-shadow: none;
}
#suggested .suggested-child div{
    width: 100%;
    justify-content: center;
    align-items: center;
}
#suggested .suggested-child .top{
    height: 20%;
    text-align: right;
    display: none;
}
#suggested .suggested-child .middle{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: hsla(218, 97%, 56%, 1);
    text-align: center;
}
#suggested .suggested-child .middle h4{
    background: -webkit-linear-gradient(hsla(280, 84%, 41%, 1), hsla(218, 97%, 56%, 1));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

  }

#suggested .suggested-child .bottom{
    height: 20%;
    display: flex;
    flex-direction: row;

    align-items: center;
}

#suggested .suggested-child .save-btn{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-image: url(../../../assets/icons/dark/bookmark.png);
}

#suggested .suggested-child .save-btn.active{
    background-image: url(../../../assets/icons/dark/bookmarked.png);
}

#suggested .suggested-child .cap-icon{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-position: center;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: 80%;
    background-image: url(../../../assets/icons/dark/cap.png);
}
#suggested .suggested-child .time-icon{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    background-position: center;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: 80%;
    background-image: url(../../../assets/icons/dark/timer.png);
}


@media screen and (min-width: 600px){

    #suggested{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        justify-content: center;
        align-items: center;
        
        
    }
    #suggested button.suggested-child{
        border: none;
    }
    #suggested .suggested-child{
        max-width: 30%;
        min-width: 30%;
        height: 30vh;
        background-color: #f5f5f5;
        margin: 10px;
        padding: 2%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border-radius: 50px;
        background: #f5f5f5;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 24px 0px, #D6BBE3 0px 0px 0px 1px;
    }
    #suggested .suggested-child div{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #suggested .suggested-child .top{
        height: 20%;
        text-align: right;
        display: none;
    }
    #suggested .suggested-child .middle{
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: hsla(218, 97%, 56%, 1);
        text-align: center;
    }
    #suggested .suggested-child .middle h4{
        background: -webkit-linear-gradient(hsla(280, 84%, 41%, 1), hsla(218, 97%, 56%, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

      }
    
    #suggested .suggested-child .bottom{
        height: 20%;
        display: flex;
        flex-direction: row;

        align-items: center;
    }

    #suggested .suggested-child .save-btn{
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
        background-image: url(../../../assets/icons/dark/bookmark.png);
    }

    #suggested .suggested-child .save-btn.active{
        background-image: url(../../../assets/icons/dark/bookmarked.png);
    }

    #suggested .suggested-child .cap-icon{
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-position: center;
        background-color: #f5f5f5;
        background-repeat: no-repeat;
        background-size: 80%;
        background-image: url(../../../assets/icons/dark/cap.png);
    }
    #suggested .suggested-child .time-icon{
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 5px;
        margin-left: 30px;
        background-position: center;
        background-color: #f5f5f5;
        background-repeat: no-repeat;
        background-size: 80%;
        background-image: url(../../../assets/icons/dark/timer.png);
    }


}