.header{
    width: 100%;
    height: auto;
    padding: 0 5%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    color: #096BFF;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}


.show{
    display: inline-block;

}
.hide{
    display: none;
}
.header button{
    background-color: #096BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin: 10px;
}
@media screen and (min-width: 600px) {

    .header{
        padding: 0 5%;
        padding-right: 5%;
    }
}

